venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

report.xml

.env
.env.local
logs/fynapp_general.log
dump/

# For the vercel deployment, because `venv` will be replaced by `chalicelib` directory.
chalicelib/bin
chalicelib/include
chalicelib/instance
chalicelib/lib
chalicelib/pyvenv.cfg
chalicelib/logs/fynapp_general.log
chalicelib/var

.vercel
