venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

report.xml

.env
.env.local
logs/fynapp_general.log
dump/

# For the vercel deployment because `venv` will br replaced by `fynapp_api` directory.
fynapp_api/.vercel
fynapp_api/bin
fynapp_api/include
fynapp_api/lib
fynapp_api/pyvenv.cfg
fynapp_api/logs/fynapp_general.log
fynapp_api/var
